.about {
    background-color: #f8fafa;
}

.info {
    max-width: 585px;
    padding-right: 80px;
}

.info h2 {
    font-size: 20px;
    color: #646565;
    padding-bottom: 20px;
    font-family: 'Merriweather', serif;
}

.info p {
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 20px;
    color: #404141;
}

.slider-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.slider {
    max-width: 350px;
}