.contact {
    background-size: cover;
    background-position: center;
    background: url(../img/cont_bg.png) no-repeat;
    padding: 50px 0px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-letter,
.contact-tel {
    box-sizing: border-box;
    background: #495862;
    opacity: 0.7;
    height: 465px;
}

.contact-letter {
    width: 615px;
}

.contact-tel {
    width: 500px;
}

#application {
    margin: 0 auto;
    padding: 40px 30px;
}

/*Стили полей для ввода*/
#applicationName,
#applicationEmail,
#applicationTelephone {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #616e77;
    outline: 0;
    border-radius: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    width: 100%;
    color: #b3bbbf;
    height: 60px;
}

#textareaform {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #616e77;
    outline: 0;
    border-radius: 0;
    padding-top: 27px;
    width: 100%;
    min-height: 105px;
    color: #fff;
}

/*Стили полей при клике по ним*/
#applicationName:focus,
#applicationEmail:focus,
#applicationTelephone:focus,
#textareaform:focus {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #6eeee4;
    outline: 0;
    border-radius: 0;
}

/*Стили текста, выводящегося в placeholder*/
::-webkit-input-placeholder {
    color: #efefef;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::-moz-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::placeholder {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.applicationButton {
    margin-top: 36px;
    background: #6eeee4;
    border: 0;
    text-align: center;
    padding: 15px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.applicationButton:hover {
    background: rgb(234, 235, 237);
}

.contact-tel {
    padding: 50px 20px 20px 20px;
}

.contact-tel p {
    margin: 0px;
    color: #c8cdd0;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
}

.contact-map {
    width: 100%;
    height: 217px;
}