html {
    line-height: 1.15;
}

body {
    margin: 0px;
    padding: 0px;
}

section {
    width: 100%;
}

.wrap {
    max-width: 1170px;
    margin: 0px auto;
}

h1,
h2 {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-weight: bold;
    font-size: 45px;
}

h3 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
}

.name-section {
    text-align: center;
    padding: 100px 0px;
}

.name {
    font-size: 38px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.desc {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}