.reviews {
    background: #f9fbfb;
    padding-bottom: 100px;
}

.reviews-list {
    max-width: 500px;
    padding: 35px 30px;
    height: 280px;
    background-color: rgb(234, 235, 237);
    text-align: center;
    margin: auto;
}

.reviewers-name {
    font-size: 26px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
}

.reviewers-desc {
    font-size: 17px;
}